#name {
    font-family: "Verdana", sans-serif;
    text-align: center;
    background-color: white;
}

.text-class{
    font-family: "Tahoma", sans-serif;
}

body {
    background-color: #C1CDCD;
}

p {
    line-height: 1.5em;
}

.highlights {
    color: #363636;
}

.size1 {
    font-size: 1.25em;
}

.size2 {
    font-size: 1.5em;
}

.round-pictures {
    border-radius: 100%;
    display: block;
    /*border: 6px ridge #4A708B;*/
    margin: 25px;
    padding:11px;
    background-color: rgb(144, 159, 168);

}

.button-extern-link a{
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-weight: 700;
    font-size: 1.2em;
    margin: 0px 200px 10px 200px;
}

.button-extern-link a:link{
    background-color: #2F4F4F;
    color: white;
}

.button-extern-link a:active{
    background-color: #2F4F4F;
    color: white;
}

.button-extern-link a:visited{
    background-color: #2F4F4F;
    color: white;
}

.button-extern-link a:hover{
    color: #2F4F4F;
    background-color: white;
}

.button-extern-link a:focus{
    color: #2F4F4F;
    background-color: white;
}

.main-titles {
    background-color: white;
    padding: 15px;
    text-align: center;
}

#whole-page {
    margin: 0px 150px 50px 150px;
    background-color:#8DB6CD;
    padding: 20px;
}

#selfie {
    float: left;
}

.float-right {
    float:right;
    width: 50%;
}

#skills {
    clear:both;
}

.menu {
    padding: 15px 25px 25px 15px;
    font-size: 1.2em;
    display: inline-block;
    margin:auto;
           
}

.menu a {
    background-color: white;
    padding: 5px 15px;
    text-decoration: none;
}

.menu a:link{
    color:black;
}

.menu a:visited{
    color: black;
}

.menu a:hover{
    color:white;
    background-color: black;
}

.menu a:focus{
    color:white;
    background-color: black;
}